  <carousel id="carousel" interval="10000" oj-carousel>
    <slide ng-repeat="article in articles" active="article.active">
      <div class="carousel-article-header-image" style="margin:auto;background-image:url({{article.header_image}})"></div>
      <div class="carousel-caption">
        <a ng-href="/article/{{article.id}}/{{article.slug}}" class="carousel-article-link"><h2>{{article.title}}</h2></a>
        <h5>{{article.headerCategory.friendly_name}}</h5>
	<h6>{{article.author.first_name}} {{article.author.last_name}}</h6>
      </div>
    </slide>
  </carousel>
  <img id="category-image" class="categoryHeaderImage" ng-src="{{categoryImage}}">
  </img>
