<div id="comments-encompass-container-{{comment.id}}" class="comments-encompass-container panel-group" >
  <div>
    <div class="comment-vote-container">
      <div class="text-center" >
	<a ng-click="upvoteComment(comment)" ng-class="comment.upvoteClass"> 
	  <span class="glyphicon glyphicon-chevron-up"></span>
	</a>
      </div>
      <div class="text-center"><h4>{{comment.num_votes? comment.num_votes : 0}}</h4></div>
      <div class="text-center" tooltip="{{comment.downvoteTooltip}}" id="downvote-container-{{comment.id}}"tooltip-placement="left">
	<a ng-click="downvoteComment(comment)" ng-class="comment.downvoteClass"> <span class="glyphicon glyphicon-chevron-down"></span></a>
      </div>
    </div>
    <div id="comment-content-container-{{comment.id}}" class="comment-content-container" >
      <div id="comment-author-box">
	<a href="/profile/{{comment.author.id}}" class="comment-author-image-container">
	  <img ng-src="{{getCommentImage(comment)}}" class="comment-author-image img-circle" class="img-circle"/>
	</a>
	<div class="comment-author-details-container">
          <div><small class="comment-time-text">{{comment.postedFriendlyString}}</small></div>
	  <a href="/profile/{{comment.author.id}}"><h5 class="comment-author-name-text">{{comment.author.name}}</h5></a>
	</div>
      </div>
      <div id="comment-text-container-{{comment.id}}" class="comment-text-container comment-form-group" >
	<p style="white-space: pre;">{{comment.text}}</p>
      </div>
      <div class="comment-button-container">
	<button id="comment-reply-button-{{comment.id}}" class="comment-reply-button btn btn-primary" ng-click="loadToggleReplyContainer(comment)">
	  Reply
	</button>
      </div>
    </div>
  </div>
  <div class="comment-form-group">
  <a id="comments-reply-toggle-link-{{comment.id}}" class="comments-reply-toggle-link" ng-click="toggleOrGetRepliesForParent(comment)">Toggle {{comment.num_replies}} Replies</a>
  <div>
    <div id="comment-reply-container-{{comment.id}}" class="comment-reply-container" collapse="comment.replyContainerCollapsed || comment.replyContainerCollapsed == undefined">
    </div>
  </div>
</div>
