{% extends "index.html" %}
{% block headblock %}
    <meta property="og:title" content="Opinion Junction - Article - {{article.title}}" />
    <meta property="og:description" content="{{article.excerpt}}" />
    <meta property="og:image" content="{{article.primary_image}}" />
    {% if article.article_metadata and article.article_metadata.robots_tag %}
    <meta name="robots" content="{{article.article_metadata.robots_tag}}" />
    {% endif %}
    <title>Opinion Junction - Article - {{article.title}}</title>
{% endblock %}
    {% block maincontent %}
    <div class="container">
      <div  id="floating-socialbar" style="float:left;margin-top:50px;width:50px">
	<social-sidebar article="socialShareArticle" pageurl="{{articleUrl}}"/>
	<!-- <ng-include src="'/angularstatic/acentral/partials/socialsidebar.html'"></ng-include> -->
      </div>
      <article style="margin-left:60px" id="article-main-area">
	<header >
	  <div class="page-header">
	    <h1> {{article.title}}</h1>
	    <h4 class="articlepreviewheadline"><small><i><em>{{article.excerpt}}</em></i></small></h4>
	  </div>
	  <h5>
	    <small>By - 
	      <b>
		<strong>{{article.author.first_name}} {{article.author.last_name}}
		</strong>
	      </b>
	    </small>
	    <small class="article-published-date-small">
	      <time datetime="{{article.published_date}}" pubdate>{{article.published_date}}</time>
	    </small>
	  </h5>
	</header>
	<div class="article-content-section" >
	  {{article.storytext|safe}}
	</div>
      </article>
      <div class="article-page-tags-div" ng-show="articleTagsDivVisible">
	<span class="article-page-tags-text"><b>Tags: </b></span>
	{% for tag in article.tags %}
	  {% if forloop.last %}
	<a  href="{{server_deliver_root}}/tag/{{tag}}" rel="tag">{{tag}}</a>
	  {% else %}
	<a  href="{{server_deliver_root}}/tag/{{tag}}" rel="tag">{{tag}}</a>, 
	  {% endif %}
	{% endfor %}
      </div>
      <div  class="article-author-bio-section">
	<div id="comment-author-box">
	  <a href="/profile/{{article.author.id}}" class="comment-author-image-container">
	    <img src="{{article.author.image}}" class="comment-author-image img-circle">
	  </a>
	  <div class="comment-author-details-container">
	    <a href="{{server_deliver_root}}/profile/{{article.author.id}}">
	      <h5 class="comment-author-name-text ng-binding">{{article.author.first_name}} {{article.author.last_name}}</h5>
	    </a>
	    <div class="article-author-bio-text-section" >
	      {{article.author.user_bio}}
	    </div>
	  </div>
	</div>
      </div>
      <div>
	<div  class="article-comments-header text-center"><h4>JUNCTION HOUSE</h4></div>
	<div comments-root discussion_id="{{article.id}}"></div>
	<!--<iframe id="iframe_comments" width="100%" frameborder="0" ng-init="comments_init" src="/comments" scrolling="no" style="overflow:visible" >-->
      </div>

    </div>
    {%  include "acentral/footer.html" %}
  {% endblock %}
