{% extends "index.html" %}
{% block headblock %}
        <title>Opinion Junction - Tag - {{tagName}}</title>
	<meta name="robots" content="noindex, follow">
{% endblock %}
{% block maincontent %}
<section class="container">
<!--  <div class="col-md-10 col-lg-9"> -->
  <div >
    <div class="tag-articles-header">
      <h4 >Tags: {{tagName}}</h4>
    </div>
    {% for article in articleInfos %}
    <article ng-repeat="article in articleInfos" class="col col-md-12 col-lg-12 main-page-article-section">
      <div class="col-md-2 col-lg-2">
	<a href="{{server_deliver_root}}/article/{{article.article_id}}/{{article.slug}}" class="thumbnail">
	  <img src="{{article.thumbnail_image}}" alt="...">
	</a>
      </div>
      <div class="col-md-10 col-lg10">
	<div><small>{{article.friendly_categories}}</small></div>
	<div>
	  <h4 class="articlepreviewheadline"><a href="{{server_deliver_root}}/article/{{article.article_id}}/{{article.slug}}" class="articleheaderlink">{{article.title}}</a></h4>
	</div>
	<div class="main-page-article-excerpt-section">
	  <h4><small><p class="main-page-article-excerpt-section-p">{{article.excerpt}}</p></small></h4>
	</div>
	<div class="main-page-article-author-section">
	  <small>
	    <p class="main-page-article-author-text">
	      {{article.author_name}}
	    </p>
	  </small>
	</div>
      </div>      
      
    </article>
    {% endfor %}
  </div>
</section>
{% endblock %}
