<div class="col col-md-2">
<ng-include src="'/angularstatic/acentral/partials/articlesidebar.html'"></ng-include> 
</div>
<div class="col col-lg-8">
</div>

<!--  <li id="articleli" ng-click="activateItem('articleli'); isArticleDivCollapsed = !isArticleDivCollapsed" data-ng-class="navClass('articleli')">
        
      <a ng-href=""> Article</a>
  </li>

  <div collapse="isArticleDivCollapsed">
    <div class="well well-sm">
      <ul class="nav nav-pills nav-stacked">
        <li id="createArticleli" ng-click="activateItem('createArticleli')" 
        data-ng-class="navClass('createArticleli')">
	  <a ng-href="">Create Article</a>
	</li>
	<li id="allArticlesli" ng-click="activateItem('allArticlesli')" 
        data-ng-class="navClass('allArticlesli')">
	  <a ng-href="">All Articles</a>
	</li>
      </ul>
    </div>
  </div>
  
-->
