{% extends "inheritable/account/email/base.html" %}
{% block styleblock %}
<style type="text/css">
/* CSS used here will be applied after bootstrap.css */
.email-page {
   margin-left: 20px; 
}
.email-logo {
  display:inline-block;
  background-color: #222; 
  color: #FFF;
  padding:20px;
}
.email-welcome {
    position:relative;
}
.email-welcome-start {
position: absolute;
    bottom:0px;
}
</style>
{% endblock %}
{% block mainblock %}
<div class="email-page">
<h3><div class="email-logo">Opinion junction</div></h3>
  <div class="email-paragraph">  
    {% load i18n %}{% autoescape off %}
    <div> 

    {% blocktrans with site.domain as site_domain and user.username as username %}You're receiving this e-mail because you or someone else has requested a password for your user account at {{site_domain}}.
It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}	

   <a href="{{password_reset_url}}">{{password_reset_url}}</a>

   </div>
   <div>
   {% blocktrans with site.domain as site_domain %} In case you forgot, your username is {{username}}.

   Thanks for using our site!{% endblocktrans %}	
   

   </div>
    {% endautoescape %}
  </div>
</div>
{% endblock %}

