<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Canuckington Post</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{{ STATIC_URL }}global.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}newsfeed.js"></script>
</head>
<body>
<!-- BEGIN TOP -->
<div id="top">
<div id="thought" ><span style="">When the only tool you have is a hammer, you tend to treat everything as if it were a nail. </span></div>
<div id="toplinks" ><ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Submit a Story</a></li>
    <li><a href="#">Feedback</a></li>
    <li class="hidden"><a href="#">Support</a></li>
  </ul>
</div>
</div>
<!-- END TOP -->
<!-- BEGIN HEADER -->
<div id="header">
  <div id="logo"> <a href="#"><img src="{{ STATIC_URL }}wireframe/logo.png" alt="" /></a> </div>
  <div id="mastandtagline">
    <div id="mast">News Of The World</div>
    <div id="tagline">
      <span style="">Shaping Local perspectives from Global Horizons </span>
    </div>
  </div>
  <div id="ad"> <img src="{{ STATIC_URL }}ad-blank.png" alt="" /> </div>
</div>
<!-- END HEADER -->
<!-- BEGIN NAV -->
<div id="nav">
  <ul>
    <li class="first"><a href="#">Home</a></li>
    <li><a href="#">Archive</a></li>
    <li><a href="#">Local</a></li>
    <li><a href="#">World</a></li>
    <li><a href="#">Politics</a></li>
    <li><a href="#">Entertainment</a></li>
    <li><a href="#">Sports</a></li>
    <li><a href="#">Science &amp; Technology</a></li>
    <li class="last"><a href="#">Contact</a></li>
  </ul>
</div>
<!-- END NAV -->
<!-- BEGIN SUB NAV -->
<div id="feature-story-sub-nav" class="sub-nav">
<!--<div style="display: table;width:100%" id="tracker">
<div id="trackerlabel" >TRACKING NEWS</div>
<div id="trackernews"> <b id="trackernewssitename">newsoftheworld.co</b> - <a id="trackernewsdescriptionlink" style="" href="http://www.newsoftheworld.co" taget="_TOP">News of The World Launches Global News Channel</a>
<span id="trackernewstimestamp">20 minutes ago</span></div>
</div>
-->
  <ul>
    <li class="title firstcategory"><a class="selectedcategory" href="#">RELIGION &raquo;</a></li>
    <li class="selectedcategory"><a class="selectedcategory" href="#">Guns n' Roses &raquo;</a></li>
    <li class="selectedcategory"><a class="selectedcategory" href="#">Concert in Delhi</a></li>
  </ul>
</div>
<!-- END SUB NAV -->
<!-- BEGIN CONTENT WRAPPER -->
<div id="content-wrapper">
  <!-- BEGIN MAIN -->
  <div id="featured-story-main" class="main">
    <div class="headlines" id="featured-story-headlines">
      <div id="featured-story-main-headline">
        <h2 class="heading">Featured Story</h2>
        <img src="{{ STATIC_URL }}blank.jpg" alt="" />
        <h1><a href="#">Guns n’ Roses rock Delhi</a></h1>
        <p class="author">Prince of England | <span>12.12.12</span></p>
        <p>
        They came, they saw and THEY ROCKED THE PLACE! Guns n’ Roses played at Delhi and it was simply the most amazing performance that we have ever seen.
		</p><p>Axl Rose was at his sublime best. He sounded even better than he did during the Golden Era of Guns n’ Roses. That, along with the chemistry between the band made it a night to remember for all of the crowd. Axl thoroughly entertained the crowd and played pranks, hiding behind the drums and saying “Axl Rose has gone to sleep” when he wanted to the crowd to raise their tempo. Then he put on a funny mask and saying “Axl has left the stage” while playing “Knocking on Heaven’s door”, which was longest song they played and had the crowd singing with him the whole while. The place just went berserk when they played Sweet Child ‘o Mine, and Paradise City. 
		</p>
		<p>
		It is a pity that the most in the crowd didn’t know the Chinese Democracy songs, but they really took to it when Guns n’ Roses played “Better”. We heard from the others who had come to the concert they really liked Street of Dreams too.
		</p><p>
		Once they had played the Paradise City, their staple Encore and bowed to the crowd and walked off, the thoroughly entertained but un-satiated crowd demanded more and Axl came back and asked if the crowd wants the band to play a couple of more songs.
		</p>
		<p>
		He told them that the sound system might be off since everyone started sounding down at the end of the show and he said he apologises in advance if it doesn’t work well (!!).<br>
		The band started playing “There was a time” but then Axl knew the crowd which hasn’t heard the Chinese Democracy wouldn’t dig that so he stopped that and they started playing Nice Boys don’t play rock and roll. And we ended up with a show that was longer than the ones in Bombay and Bangalore.
		</p><p>
		Their were some delays before Axl started singing while the the band started playing the song, and for a moment we thought we will witness St Louis 2, but Axl finally came back to sing and we saw our fears were unfounded. Tommy was really pissed off since his guitar didn’t sound right and threw on stage and barged off. Then Ron picked it up and tried to play his parts but he gave it up to go back to playing his own guitar when he knew it wasn’t working. 
		</p><p>At the end of that song, Axl played the peacemaker when he knew the sound system wasn’t holding up and told the frenzied crowd they couldn’t play another song. He thanked the crowd and they left us with amazing memories we are going to cherish for the rest of our lives.
		</p><p>
		He dedicated the concert to Ravi Shankar who passed away on the same day.
		</p><p>
		Since we were in the platinum section, which was further away from the stage than the Gold section, we couldn’t click good pictures of the show, but we will share some pictures from other sources on the internet.</p>
        <p class="hidden"><a href="#">Full story &raquo;</a></p>
        <h2 class="heading hidden">Media</h2>
        <object width="400" height="300" class="hidden">
          <param name="movie" value="http://www.youtube.com/v/B0jhJA1Hjxk&amp;hl=en_US&amp;fs=1&" />
          <param name="allowFullScreen" value="true" />
          <param name="allowscriptaccess" value="never" />
          <embed src="http://www.youtube.com/v/B0jhJA1Hjxk&amp;hl=en_US&fs=1&amp;" type="application/x-shockwave-flash" allowscriptaccess="never" allowfullscreen="true" width="400" height="300"></embed>
        </object>
        <h2 class="hidden"><a href="#">Controversy surrounding the 10 billion dollar Temple of Axl Rose</a></h2>
        <p class="author hidden"><span>09.18.19</span></p>
        <p class="hidden"><a href="#">More video &raquo;</a></p>
<!-- START: Livefyre Embed -->
<div id="livefyre-comments"></div>
<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script type="text/javascript">
(function () {
    var articleId = fyre.conv.load.makeArticleId(null);
    fyre.conv.load({}, [{
        el: 'livefyre-comments',
        network: "livefyre.com",
        siteId: "322245",
        articleId: articleId,
        signed: false,
        collectionMeta: {
            articleId: articleId,
            url: fyre.conv.load.makeCollectionUrl(),
        }
    }], function() {});
}());
</script>
<!-- END: Livefyre Embed -->
</div>            
      <div id="featured-story-more-headlines">
        <h2 class="heading">Trending around the Globe</h2>
        <h4><a href="#">Monaco declares war on Russia</a></h2>
        <p class="author">CNN | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden" >Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"><a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">I am a sinner and made the biggest mistake of my life questioning the actions of the true God Axl - Slash</a></h3>
        <p class="author">Slash.com | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">Guerilla Machines buys Apple</a></h3>
        <p class="author">Guerilla-Machines.com | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">Google files for Bankruptcy Protection</a></h3>
        <p class="author">Google.co.uk | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h2 class="heading">News from India</h2>
        <h4 ><a href="#">Libertarian Party Sweeps Legislative Polls in Andaman and Nicobar</a></h3>
        <p class="author">CNN | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">Canada is renamed People's Democratic Republic of Punjab</a></h3>
        <p class="author">Punjab.pb | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden"> Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"><a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">China becomes the 31st province of Republic of Punjab</a></h3>
        <p class="author">Punjab.cn | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">India will be the world's largest Ecnonomy by 2050 - SBI</a></h3>
        <p class="author">SBI.in | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h2 class="heading">Podcast</h2>
        <img src="{{ STATIC_URL }}microphone.png" alt="" class="righty" />
        <h4><a href="#">Discussion with presidents of Libertarian and Pirate Party</a></h4>
        <p class="author"><span>09.18.09</span></p>
        <p>Listen to our discussion with these leaders as they debate the way forward for rise of India as a world economic power.</p>
        <p><a href="#">More podcasts &raquo;</a></p>
      </div>
    </div>
  </div>
  <!-- END MAIN -->
  <!-- BEGIN SIDEBARS -->
  <div id="featured-story-sidebars" class="sidebars">
  <h2 class="heading">Past Stories</h2>
      <ul>
      <li><a href="#">How libertarianism can solve India's socio-political ills</a></li>
      <li><a href="#">Controversy surrounding the 10 billion dollar Temple of Axl Rose</a></li>
      <li><a href="#">Thailand joining Republic of Punjab is  win-win situation for everyone</a></li>
      <li class="last"><a href="#">Impending Global Recession can be avoided if Indian Rupee becomes De-facto Global Currency</a></li>
    </ul>
    <!-- BEGIN ADS -->
    <div class="border-top border-bottom adsdiv">
    <a href="#" class="hidden"><img src="{{ STATIC_URL }}side-ad.png" alt="" class="ad"></a> <a class="hidden" href="#"><img src="{{ STATIC_URL }}side-ad.png" alt="" class="ad-right"></a> <a class="" href="#"><img src="{{ STATIC_URL }}side-ad.png" alt="" class="ad border-top"></a> <a class="" href="#"><img src="{{ STATIC_URL }}side-ad.png" alt="" class="ad-right"></a>
    </div>
    <!-- END ADS -->
    <h2 class="heading-blue">Most Read</h2>
    <ul>
      <li><a href="#">Guns n’ Roses rock Delhi</a></li>
      <li><a href="#">How libertarianism can solve India's socio-political ills</a></li>
      <li><a href="#">Ludhiana is now the real Silicon Capital of the World</a></li>
      <li class="last"><a href="#">Thailand joining Republic of Punjab is  win-win situation for everyone</a></li>
    </ul>
    <img class="hidden" src="{{ STATIC_URL }}wayne.jpg" alt="" />
    <h3 class="hidden" ><a href="#">FC United of Manchester mauls Manchester City 8-0</a></h3>
    <p class="hidden" >Baichung Bhutia and IM Vijayan score hat tricks as Manchester City are relegated from Football Conference.</p>
    <p class="hidden"><a href="#">More headlines &raquo;</a></p>
    <h2 class="heading hidden">Celebrity Sightings</h2>
    <img class="hidden" src="{{ STATIC_URL }}casey.jpg" alt="" class="ad hidden" /> <img class="hidden" src="{{ STATIC_URL }}hobo.jpg" alt="" class="ad-right" />
    <h2 class="heading hidden">In the Community</h2>
    <h4 class="hidden"><a href="#">Lorem ipsum dolor sit amet eget, consectetur adipiscing elit</a></h4>
    <h4 class="hidden"><a href="#">Lorem ipsum dolor sit amet eget, consectetur adipiscing elit</a></h4>
  </div>
  <!-- END SIDEBARS -->
</div>
<!-- END CONTENT WRAPPER-->
<!-- BEGIN EXTRAS -->
<div id="extras">
  <div id="recommended">
    <h2 class="heading">Links</h2>
    <ul>
      <li><a href="#">If more people heard Guns n' Roses, world peace could be acheived &raquo;</a></li>
      <li><a href="#">India should play a larger role at international stage - Dave Mustaine &raquo;</a></li>
      <li><a href="#">India can win the next Football World Cup - Sir Alex Fergusson &raquo;</a></li>
      <li class="last"><a href="#">Mexico and India should increase bilateral trade &raquo;</a></li>
    </ul>
  </div>
<div id="programs">
    <h2 class="heading">Trending on the Net ...</h2>
    <img src="{{ STATIC_URL }}rick.jpg" alt="" class="hidden"> <img src="{{ STATIC_URL }}cbc.png" alt="" class="hidden"> 
<ul>
<li><a href="http://www.twitter.com" class="tweethandle"><b>@hetfield</b></a><div class="tweetmaindiv"> I wish we learnt to play music from Guns n' Roses during our formative years </div><a href="http://www.twitter.com">#chidem2</a>
</li>
<li><a href="http://www.twitter.com" class="tweethandle"><b>@tevez</b></a> <div class="tweetmaindiv" >City cheated me with the managerial contract so I went on a vacation while they got  </div><a href="http://www.twitter.com">#citygotrelegated</a></li>
<li><a href="http://www.twitter.com" class="tweethandle"><b>@snp </b></a> <div class="tweetmaindiv">Scotland should join Punjab as a consituent state</div><a href="http://www.twitter.com">#scotlandengland</a></li>
<li class="last"><a href="http://www.twitter.com" class="tweethandle"><b>@eurozone </b></a> <div class="tweetmaindiv">We should ask for more aid from India</div><a href="http://www.twitter.com">#eurocrisis</a></li>
</ul></div>
  <div id="cartoon" class="hidden">
    <h2 class="heading">Humour</h2>
    <img src="{{ STATIC_URL }}cartoon.jpg" alt="" /> </div>
</div>
<!-- END EXTRAS -->
<!-- BEGIN FOOTER -->
<div id="footer">
  <ul>
    <li>&copy;2012 <a href="#">News Of The World </a></li>
    <li>|</li>
    <li><a href="#">FAQ</a></li>
    <li>|</li>
    <li><a href="#">Privacy Policy</a></li>
    <li>|</li>
    <li><a href="#">Careers</a></li>
    <li>|</li>
    <li><a href="#">Advertise</a></li>
    <li>|</li>
    <li><a href="#">Sitemap</a></li>
    <li>|</li>
    <li>Designed by <a href="http://www.newsoftheworld.co">News of The World</a>, <a href="http://www.skyrocketlabs.com/">Skyrocket Labs</a></li>
  </ul>
</div>
<!-- END FOOTER -->
<div id="theme-copyright">This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
