{% extends "account/user_entry_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block page_heading %}{% trans "Sign In" %}{% endblock %}


{% block signup_login_altenator %}
<p>{% blocktrans %}Don't have an account? Then please <a href="{{ signup_url }}">sign up</a>.{% endblocktrans %}</p>
{% endblock %}

{% block user_form %}
<form class="login" method="POST" action="{% url 'account_login' %}" style="margin-bottom:0px"><!--This doesn't get crazier than this, 
I can't get modal iframe to look good without this dance. -->
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
