<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% extends "blocks/base-with-shared-items.html" %}
{% load notwfilters %}
{% block regionbackslashurl %}{% url "regionbackslash" region_name %} {% endblock %}
{% block headercontentgap %}
{{ debug }}

<!-- END NAV -->
<!-- BEGIN SUB NAV -->
<div id="feature-story-sub-nav" class="sub-nav">
<!--<div style="display: table;width:100%" id="tracker">
<div id="trackerlabel" >TRACKING NEWS</div>
<div id="trackernews"> <b id="trackernewssitename">newsoftheworld.co</b> - <a id="trackernewsdescriptionlink" style="" href="http://www.newsoftheworld.co" taget="_TOP">News of The World Launches Global News Channel</a>
<span id="trackernewstimestamp">20 minutes ago</span></div>
</div>
-->
  <ul>
    
    <!--<li class="title firstcategory"><a class="selectedcategory" href="#">RELIGION &raquo;</a></li>
    <li class="selectedcategory"><a class="selectedcategory" href="#">Guns n' Roses &raquo;</a></li>
    <li class="selectedcategory"><a class="selectedcategory" href="#">Concert in Delhi</a></li>
    -->
    {% if topic_hierarchy %}
    {% if topic_hierarchy|length == 1 %}
    <li class="title firstcategory"><a class="selectedcategory" href="#">{{ topic_hierarchy.0 }}</a></li>
    {% else %}
    {% for topic_category in topic_hierarchy %}
    {% if topic_category %}
    {% if forloop.first %}
    <li class="title firstcategory"><a class="selectedcategory" href="#">{{ topic_category }} &raquo;</a></li>
    {% elif forloop.last %}
    <li class="selectedcategory"><a class="selectedcategory" href="#">{{ topic_category }} </a></li>
    {% else %}
    <li class="selectedcategory"><a class="selectedcategory" href="#">{{ topic_category }} &raquo;</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% else %}
    <li class="title firstcategory"></li>
    {% endif %}
  </ul>

</div>
<!-- END SUB NAV -->
{% endblock %}

<!-- BEGIN CONTENT WRAPPER -->
{% block contentwrapper %}
<div id="content-wrapper">
  <!-- BEGIN MAIN -->
  <div id="featured-story-main" class="main">
    <div class="headlines" id="featured-story-headlines">
      <div id="featured-story-main-headline">
        <h2 class="heading">Featured Story</h2>
        <img src="{{ STATIC_URL }}blank.jpg" alt="" />
        <h1><a href="{% url "featuredstorynamebackslash" featured_story.urlString %}">{{ featured_story.name }}</a></h1>
        <p class="author">{{ featured_story.authors|get_all_authors_fullnames }} | <span>{{ featured_story.date }}</span></p>
        {{ featured_story.storytext|safe }}
	{% comment %}
	{% with author_bio_section_started as ""|get_state_object %}
	{% endcomment %}
	{% for author in featured_story.authors.all %}
	{% if author.author_bio %}
	{% if author_bio_section_started|get_and_set_state_true %}
	<br><h4>About the Author(s):</h4>
	{% else %}
	<br>
	{% endif %}
	{{ author.author_bio }}
	{% endif %}
	{% endfor %}
	{% comment %}
	{% endwith %}
	{% endcomment %}
        <p class="hidden"><a href="#">Full story &raquo;</a></p>
        <h2 class="heading hidden">Media</h2>
        <object width="400" height="300" class="hidden">
          <param name="movie" value="http://www.youtube.com/v/B0jhJA1Hjxk&amp;hl=en_US&amp;fs=1&" />
          <param name="allowFullScreen" value="true" />
          <param name="allowscriptaccess" value="never" />
          <embed src="http://www.youtube.com/v/B0jhJA1Hjxk&amp;hl=en_US&fs=1&amp;" type="application/x-shockwave-flash" allowscriptaccess="never" allowfullscreen="true" width="400" height="300"></embed>
        </object>
        <h2 class="hidden"><a href="#">Controversy surrounding the 10 billion dollar Temple of Axl Rose</a></h2>
        <p class="author hidden"><span>09.18.19</span></p>
        <p class="hidden"><a href="#">More video &raquo;</a></p>
        <script>
          var idcomments_acct = '70d96fb77096d1cafc7672a2313ac00b';
          var idcomments_post_id;
          var idcomments_post_url;
        </script>
        <span id="IDCommentsPostTitle" style="display:none"></span>
        <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
      </div>
      <div id="featured-story-more-headlines">
        <h2 class="heading">Trending around the Globe</h2>
        <h4><a href="#">Monaco declares war on Russia</a></h2>
        <p class="author">CNN | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden" >Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"><a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">I am a sinner and made the biggest mistake of my life questioning the actions of the true God Axl - Slash</a></h3>
        <p class="author">Slash.com | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">Guerilla Machines buys Apple</a></h3>
        <p class="author">Guerilla-Machines.com | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">Google files for Bankruptcy Protection</a></h3>
        <p class="author">Google.co.uk | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h2 class="heading">News from India</h2>
        <h4 ><a href="#">Libertarian Party Sweeps Legislative Polls in Andaman and Nicobar</a></h3>
        <p class="author">CNN | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">Canada is renamed People's Democratic Republic of Punjab</a></h3>
        <p class="author">Punjab.pb | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden"> Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"><a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">China becomes the 31st province of Republic of Punjab</a></h3>
        <p class="author">Punjab.cn | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">India will be the world's largest Ecnonomy by 2050 - SBI</a></h3>
        <p class="author">SBI.in | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h2 class="heading">Podcast</h2>
        <img src="{{ STATIC_URL }}microphone.png" alt="" class="righty" />
        <h4><a href="#">Discussion with presidents of Libertarian and Pirate Party</a></h4>
        <p class="author"><span>09.18.09</span></p>
        <p>Listen to our discussion with these leaders as they debate the way forward for rise of India as a world economic power.</p>
        <p><a href="#">More podcasts &raquo;</a></p>
      </div>
    </div>
  </div>

  <!-- END MAIN -->
  <!-- BEGIN SIDEBARS -->
  {% include "blocks/includes/sidebarfeaturedstories.html" %}
  <!-- <div id="featured-story-sidebars" class="sidebars">
  <h2 class="heading">Past Stories</h2>
      <ul>
      <li><a href="#">How libertarianism can solve India's socio-political ills</a></li>
      <li><a href="#">Controversy surrounding the 10 billion dollar Temple of Axl Rose</a></li>
      <li><a href="#">Thailand joining Republic of Punjab is  win-win situation for everyone</a></li>
      <li class="last"><a href="#">Impending Global Recession can be avoided if Indian Rupee becomes De-facto Global Currency</a></li>
    </ul>
    -->
    <!-- BEGIN ADS -->
    <!-- <div class="border-top border-bottom adsdiv">
    <a href="#" class="hidden"><img src="{{ STATIC_URL }}side-ad.png" alt="" class="ad"></a> <a class="hidden" href="#"><img src="{{ STATIC_URL }}side-ad.png" alt="" class="ad-right"></a> <a class="" href="#"><img src="{{ STATIC_URL }}side-ad.png" alt="" class="ad border-top"></a> <a class="" href="#"><img src="{{ STATIC_URL }}side-ad.png" alt="" class="ad-right"></a>
    </div>
    -->
    <!-- END ADS -->
    
    <!-- <h2 class="heading-blue">Most Read</h2>
    <ul>
      <li><a href="#">Guns n’ Roses rock Delhi</a></li>
      <li><a href="#">How libertarianism can solve India's socio-political ills</a></li>
      <li><a href="#">Ludhiana is now the real Silicon Capital of the World</a></li>
      <li class="last"><a href="#">Thailand joining Republic of Punjab is  win-win situation for everyone</a></li>
    </ul>

  </div>
  -->
  <!-- END SIDEBARS -->
</div>
{% endblock %}
<!-- END CONTENT WRAPPER-->
<!-- BEGIN EXTRAS -->

<!-- END EXTRAS -->
<!-- BEGIN FOOTER -->

<!-- END FOOTER -->

</html>
