{% extends "index.html" %}
{% block headblock %}
    <title>Opinion Junction - About Us</title>
    <meta property="og:title" content="Opinion Junction - About Us" />
    <meta property="og:description" content="Opinion Junction - About Us" />
    <meta name="Description" CONTENT="Opinion Junction - About Us">
    <link rel="canonical" href="{{protocol}}://{{domain_name}}/aboutus" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Opinion Junction - About Us" />
    <meta property="twitter:description" content="Opinion Junction - About Us" />
{% endblock %}
{% block maincontent %}
<style scoped>
/* CSS used here will be applied after bootstrap.css */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1bHRUMxmJHoup12DnI9XmQ.woff) format('woff');
}


</style>
<nav id="navbar-div-second-aboutus" class="navbar  navbar-fixed-top second-navbar">
  <div class="container aboutusview-second-navbar-container">
    <div class="col-md-3 col-md-offset-4 aboutusview-section-selector">
     <ul class="aboutusview-sectionul">
       <li class="active first">
	 <span class="navbar-brand aboutusview-section-selector-link" >
	   Opinion Junction - About Us
	 </span>
       </li>
     </ul>
    </div>
  </div>
</nav>
<!-- <div class="container"> -->
  <div class="aboutusview-main-section">
    <section class="aboutusview-aboutustext-section" id="aboutus">
      <div class="container">
	<div class="col-md-3 col-md-offset-4 text-center aboutusview-aboutus-heading-div">
	  <h4>
	    About Us
	  </h4>
	</div>
      </div>
      <div class="container">
	<div class="col-md-3 col-md-offset-4 text-center">
	  {{ team_object.team_metadata.aboutus_message }}
	</div>
      </div>
    </section>
    <section class="aboutusview-ourteam-section" id="ourteam">
      <div class="container">
	<div class="col-md-3 col-md-offset-4 text-center">
	  <h4>
	    Our Team
	  </h4>
	</div>
      </div>
      <div >
	<div class="aboutusview-ourteam-authorimageuldiv"> 
	  <ul class="aboutusview-ourteam-authorimageul">
	    {% for team_author in team_object.team_authors %}
	    <li class="aboutusview-ourteam-authorimageli" >
	      <div class="aboutusview-ourteam-authorimagediv">
		<div class="aboutusview-ourteam-authorrolediv text-center">
		  <div class="aboutusview-ourteam-authorrolerolediv" >
		    <div>{{team_author.first_name}} {{team_author.last_name}}</div>
		    <div>{{team_author.role}}</div>
		  </div>
		</div>
		<div class="aboutusview-ourteam-authorimageimagedummy">
		</div>
		<img src="{{team_author.image}}" 
		     class="aboutusview-ourteam-authorimage" alt="{{team_author.first_name}} {{team_author.last_name}}'s profile image"/>
	      </div>
	    </li>
	    {% endfor %}
	  </ul>
	</div>
      </div>
    </section>
    <section class="aboutusview-contactustext-section" id="contactus">
      <div class="container">
	<div class="col-md-3 col-md-offset-4 text-center aboutusview-contactus-heading-div">
	  <h4>
	    Contact Us
	  </h4>
	</div>
      </div>
      <div class="container">
	{% for team_contactus in team_object.team_contactus %}
	<div class="col col-xs12 col-md-6 text-center aboutusview-contactus-member-encompass">
	  <div><h5>{{team_contactus.contactus_description}}</h5></div>
	  {% if team_contactus.contactus_type == "email" %}
	  <a class="aboutusview-contactus-email-link" href="mailto:{{team_contactus.contactus_details}}">
	    {{team_contactus.contactus_details}}
	  </a>
	  {% endif %}
	  {% if team_contactus.contactus_type != "email" %}
	  <span>
	    {{team_contactus.contactus_details}}
	  </span>
	  {% endif %}
	</div>
	{% endfor %}
      </div>
    </section>
  </div>
<!-- </div> -->
{% endblock %}
