{% extends "index.html" %}
{% block headblock %}
    {% if homepage %}
        <title>Opinion Junction</title>
	<meta property="og:url" content="{{protocol}}://{{domain_name}}" />
        <meta property="og:title" content="Opinion Junction" />
        <meta property="og:description" content="Opinion Junction" />
	<meta name="Description" CONTENT="Opinion Junction - The platform for people from all walks of life to discuss their opinions about current state of affairs in diverse set of fields.">
	<link rel="canonical" href="{{protocol}}://{{domain_name}}" />
        <meta property="twitter:title" content="Opinion Junction" />
	<meta property="twitter:description" content="Opinion Junction" />
    {% else %}
        <title>Opinion Junction - {{category.friendly_name}}</title>
	<meta property="og:url" content="{{protocol}}://{{domain_name}}/{{category.name}}" />
        <meta property="og:title" content="Opinion Junction - {{category.friendly_name}}" />
        <meta property="og:description" content="Opinion Junction - {{category.friendly_name}}" />
	<meta name="Description" CONTENT="Opinion Junction - {{category.friendly_name}}">
	<link rel="canonical" href="{{protocol}}://{{domain_name}}/{{category.name}}" />
	<meta name="twitter:card" content="summary" />
        <meta property="twitter:title" content="Opinion Junction - {{category.friendly_name}}" />
	<meta property="twitter:description" content="Opinion Junction - {{category.friendly_name}}" />
    {% endif %}

    {% if articles|length > 0 %}
        <meta property="og:image" content="{{articles.0.primary_image}}" />
    {% endif %}

{% endblock %}
{% block maincontent %}
{% include "acentral/carousel.html" %}
<section class="container">
  <div class="col-md-10 col-lg-9 main-page-articles-div">
    <div class="main-page-articles-header">
      <h4 class="text-center">Latest Opinions</h4>
    </div>
    {% for article in articleInfos %}
  <article class="col col-md-12 col-lg-12 main-page-article-section">
      <div class="col-md-2 col-lg-2">
	<a href="{{server_deliver_root}}/article/{{article.id}}/{{article.slug}}" class="thumbnail">
	  <img src="{{article.friendly_thumbnail_image}}" alt="{{article.title}}">
	</a>
      </div>
      <div class="col-md-10 col-lg10">
	<div><small>{{ article.category_friendly_names }}</small></div>
	<div>
	  <h4 class="articlepreviewheadline"><a href="{{server_deliver_root}}/article/{{article.id}}/{{article.slug}}" class="articleheaderlink">{{article.title}}</a></h4>
	</div>
	<div>
	  <p class="main-page-article-excerpt-section-p">{{article.excerpt}}</p>
	</div>
	<div class="main-page-article-author-section">
	  <p class="main-page-article-author-text">
	      {{ article.author.friendly_name }}
	  </p>
	</div>
      </div>      
   
  </article>
  {% endfor %}
  </div>
  <div class="col-md-2 col-lg-3 main-page-comments-div">
    <div class="main-page-comments-header">
      <h4 class="text-center">Latest Comments</h4>
    </div>
    {% for comment in latest_comments %}
  <article class="comment-main-page">

    <div class="comment-author-image-container-mainpp">
      <img src="{{ comment.author.friendly_image }}" class="comment-author-image img-circle" alt="{{comment.author.name}}'s profile image"/>
    </div>
    <div>
      <div>
	<h5 class="comment-text-main-page">
	  <a href="{{server_deliver_root}}/article/{{comment.discussion_id}}#comment-{{comment.id}}" class="articleheaderlink">{{comment.text}}</a>
	</h5>
      </div>
      <div>
	<p class="main-page-comment-author-text">{{comment.author.author_name}}</p>
      </div>
      <div class="clearfix"></div>
    </div>   
   
  </article>
  {% endfor %}
  </div>

</section>
{%  include "acentral/footer.html" %}
{% endblock %}
