<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/angularstatic/acentral/css/acentral.css">
<link rel="stylesheet" href="/static/comments.css">
<meta name="viewport" content="initial-scale=1">
<!--<style>
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter-Regular'), url(https://fonts.gstatic.com/s/bitter/v7/2PcBT6-VmYhQCus-O11S5-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
</style>
Will implement this later, we owe it the privacy of our users.
-->
<link href='//fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
{% if server_deliver_root and server_deliver_root.strip %}
{% else %}
<meta name="google-site-verification" content="xN9Wd08x5DMTRT6omVvCbo2M3kohSUIwCrKXURXDpZM" />
<meta name="google-site-verification" content="RESiUdWQbwxIMMEoAzHiwj3SqjKyBAMo4Cm4WT7sTHo" />
<meta property="twitter:site" content="{{twitter_handle}}" />
<!-- Opinion Junction verfication -->

<!-- -->
{% endif %}
