<div class="user-container">

    <div id="usersidebar" data-spy="affix" data-offset-top="60" data-offset-bottom="200" class="usersidebar">

      <ul class="nav nav-pills nav-stacked">
	<li id="profileli" ng-click="activateItem('profileli');setArticleDivCollapse(true);isArticleDivCollapsed = true;isAboutusDivCollapsed = true;isRolesDivCollapsed = true" data-ng-class="navClass('profileli')">        
          <a ng-href="/user/profile"> Profile</a>
	</li>
	<li id="settingsli" ng-click="activateItem('settingsli');isArticleDivCollapsed = true;isAboutusDivCollapsed = true;isRolesDivCollapsed = true" data-ng-class="navClass('settingsli')">        
          <a ng-href="/user/settings"> Settings</a>
	</li>
	<li ng-repeat="capability in sidebarOtherMainCapabilities"
	    id="{{capability.id}}" ng-click="activateItem(capability.id);isArticleDivCollapsed = true;setArticleDivCollapse(true);setAboutusDivCollapse(true)" 
	    data-ng-class="navClass(capability.id)">
    	  <a ng-href="{{capability.url}}">{{capability.title}}</a>
    	</li>
	<li id="aboutusli" ng-click="activateItem('aboutusli'); isAboutusDivCollapsed = !isAboutusDivCollapsed" data-ng-class="navClass('aboutusli')"
	    ng-show="aboutusCapabilitiesAvailable">
          
          <a ng-href=""> About Us</a>
	</li>
	<div collapse="isAboutusDivCollapsed" ng-show="aboutusCapabilitiesAvailable">
          <div class="well well-sm">
            <ul class="nav nav-pills nav-stacked" ng-repeat="capability in sidebarAboutusCapabilities">
              <li id="{{capability.id}}" ng-click="activateItem(capability.id)" 
		  data-ng-class="navClass(capability.id)">
    		<a ng-href="{{capability.url}}">{{capability.title}}</a>
    	      </li>
            </ul>
          </div>
	</div>
	<li id="articleli" ng-click="activateItem('articleli'); isArticleDivCollapsed = !isArticleDivCollapsed" data-ng-class="navClass('articleli')"
	    ng-show="articleCapabilitiesAvailable">
          
          <a ng-href=""> Article</a>
	</li>

	<div collapse="isArticleDivCollapsed" ng-show="articleCapabilitiesAvailable">
          <div class="well well-sm">
            <ul class="nav nav-pills nav-stacked" ng-repeat="capability in sidebarArticleCapabilities">
              <li id="{{capability.id}}" ng-click="activateItem(capability.id)" 
		  data-ng-class="navClass(capability.id)">
    		<a ng-href="{{capability.url}}">{{capability.title}}</a>
    	      </li>
            </ul>
          </div>
	</div>
	<li id="rolesli" ng-click="activateItem('rolesli'); isRolesDivCollapsed = !isRolesDivCollapsed" data-ng-class="navClass('rolesli')"
	    ng-show="rolesCapabilitiesAvailable">
          
          <a ng-href=""> Roles and Permissions</a>
	</li>
	<div collapse="isRolesDivCollapsed" ng-show="rolesCapabilitiesAvailable">
          <div class="well well-sm">
            <ul class="nav nav-pills nav-stacked" ng-repeat="capability in sidebarRolesCapabilities">
              <li id="{{capability.id}}" ng-click="activateItem(capability.id)" 
		  data-ng-class="navClass(capability.id)">
    		<a ng-href="{{capability.url}}">{{capability.title}}</a>
    	      </li>
            </ul>
          </div>
	</div>
	<li id="signoutli" data-ng-class="navClass('signoutli')">        
	  <a ng-click="signout()"> Signout</a>
	</li>
      </ul>
    </div>
  <div class="col">
    <ui-view></ui-view>
  </div>
</div>
