<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% extends "blocks/base-with-shared-items.html" %}
{% load notwfilters %}
{% block regionbackslashurl %}{% url "regionbackslash" region_name %} {% endblock %}
{% load cache %}
{% cache 900 index region_name %}
{% block headercontentgap %}

<div id="feature-story-sub-nav" class="sub-nav">

<!--<div style="display: table;width:100%" id="tracker">
<div id="trackerlabel" >TRACKING NEWS</div>
<div id="trackernews"> <b id="trackernewssitename">newsoftheworld.co</b> - <a id="trackernewsdescriptionlink" style="" href="http://www.newsoftheworld.co" taget="_TOP">News of The World Launches Global News Channel</a>
<span id="trackernewstimestamp">20 minutes ago</span></div>
</div>-->
{% with crumb_trail|length as crumb_trail_length %}
{% if crumb_trail and crumb_trail_length > 0 %}
<ul>
  {% for crumb in crumb_trail %}
  {% if forloop.counter == crumb_trail_length %}
  <li class="title firstcategory"><a class="selectedcategory" href="#">{{ crumb }} </a></li>  
  {% else %}
  <li class="title firstcategory"><a class="selectedcategory" href="#">{{ crumb }} &raquo;</a></li>
  {% endif %}
  {% endfor %}
</ul>
{% else %}
  <ul>
    <li class="title firstcategory"><a class="selectedcategory" href="{% url "worldbackslash" %}">WORLD &raquo;</a></li>
    {% if continent_name %}<li class="selectedcategory"><a class="selectedcategory" href="#">{{ continent_name }}  &raquo;</a></li>{% endif %}
    <li class="selectedcategory"><a class="selectedcategory" href="{% url "regionbackslash" region_name %}">{{ region }}</a></li>
  </ul>
{% endif %}
{% endwith %}
</div>
{% endblock %}
<!-- END SUB NAV -->
<!-- BEGIN CONTENT WRAPPER -->
{% block contentwrapper %}
<div id="content-wrapper">
  <!-- BEGIN MAIN -->
  <div id="topic-main" class="main">
    <div id="topic-headlines" class="headlines">
      
      <div id="topic-more-headlines">
        {% if feeds_for_world and feeds_for_world|length > 0 %}
        <h2 class="heading">Trending around the Globe</h2>
        {% for feedkey_for_world in feeds_for_world %}
        {% with feeds_for_world|get_item:feedkey_for_world as feedtuple_for_world %}
        {% with feedtuple_for_world.0 as feed_for_world %}
        {% if forloop.counter == 1 %}
        <h4 ><a href="{{ feed_for_world.link }}">{{ feed_for_world.title }}</a></h3>
        <p class="author">{{ feedtuple_for_world|getFeedAuthor }} | <span>{{ feed_for_world.published }}</span></p>
        {% else %}
        <h4 class="headlinesbordertop"><a href="{{ feed_for_world.link }}">{{ feed_for_world.title }}</a></h3>
        <p class="author">{{ feedtuple_for_world|getFeedAuthor }} | <span>{{ feed_for_world.published }}</span></p>
        {% endif %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
        {% endif %}
        {% if feeds_for_country and feeds_for_country|length > 0 %}
        <h2 class="heading">News from {{ region }}</h2>
        {% for feedkey_for_country in feeds_for_country %}
        {% with feeds_for_country|get_item:feedkey_for_country as feedtuple_for_country %}
        {% with feedtuple_for_country.0 as feed_for_country %}
        {% if forloop.counter == 1 %}
        <h4 ><a href="{{ feed_for_country.link }}">{{ feed_for_country.title }}</a></h3>
        <p class="author">{{ feedtuple_for_country|getFeedAuthor }} | <span>{{ feed_for_country.published }}</span></p>
        {% else %}
        <h4 class="headlinesbordertop"><a href="{{ feed_for_country.link }}">{{ feed_for_country.title }}</a></h3>
        <p class="author">{{ feedtuple_for_country|getFeedAuthor }} | <span>{{ feed_for_country.published }}</span></p>
        {% endif %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
        {% endif %}
        <h2 class="heading">Podcast</h2>
        <img src="{{ STATIC_URL }}/microphone.png" alt="" class="righty" />
        <h4 ><a href="#">Discussion with presidents of Libertarian and Pirate Party</a></h4>
        <p class="author"><span>09.18.09</span></p>
        <p >Listen to our discussion with these leaders as they debate the way forward for rise of India as a world economic power.</p>
        <p><a href="#">More podcasts &raquo;</a></p>
      </div>
    </div>
  </div>
  <!-- END MAIN -->
  <!-- BEGIN SIDEBARS -->
  <div id="topic-sidebars" class="sidebars">
    <!-- BEGIN ADS -->
    <a href="#" class="hidden"><img src="{{ STATIC_URL }}/side-ad.png" alt="" class="ad" /></a> <a class="hidden" href="#"><img src="{{ STATIC_URL }}/side-ad.png" alt="" class="ad-right" /></a> <a href="#"><img src="{{ STATIC_URL }}/side-ad.png" alt="" class="ad" /></a> <a href="#"><img src="{{ STATIC_URL }}/side-ad.png" alt="" class="ad-right" /></a>
    <!-- END ADS -->
    {% include "blocks/includes/sidebartopicsection.html" %}

  <h2 class="heading hidden">Celebrity Sightings</h2>
    <img src="{{ STATIC_URL }}/casey.jpg" alt="" class="ad hidden" /> <img src="{{ STATIC_URL }}/hobo.jpg" alt="" class="ad-right" />
    <h2 class="heading hidden">In the Community</h2>
    <h4 class="hidden"><a href="#">Lorem ipsum dolor sit amet eget, consectetur adipiscing elit</a></h4>
    <h4 class="hidden"><a href="#">Lorem ipsum dolor sit amet eget, consectetur adipiscing elit</a></h4>
  </div>
  <!-- END SIDEBARS -->
</div>
{% endblock %}
<!-- END CONTENT WRAPPER-->
<!-- BEGIN EXTRAS -->

{% include "blocks/includes/extrassection.html" %}
<!-- END EXTRAS -->
<!-- BEGIN FOOTER -->
<div id="footer">
  <ul>
    <li>&copy;2012 <a href="#">News Of The World </a></li>
    <li>|</li>
    <li><a href="#">FAQ</a></li>
    <li>|</li>
    <li><a href="#">Privacy Policy</a></li>
    <li>|</li>
    <li><a href="#">Careers</a></li>
    <li>|</li>
    <li><a href="#">Advertise</a></li>
    <li>|</li>
    <li><a href="#">Sitemap</a></li>
    <li>|</li>
    <li>Designed by <a href="http://www.newsoftheworld.co">News of The World</a>, <a href="http://www.skyrocketlabs.com/">Skyrocket Labs</a></li>
  </ul>
</div>
<!-- END FOOTER -->
<div id="theme-copyright">This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
{% endcache %}
