<!doctype html>
<html>
<head>
  {% include "includes/head.html" %}
  {% block headblock %}{% endblock %}
</head>
<body>
<div id="ng-app">
<div>


<nav id="navbar-div" class="navbar navbar-inverse  navbar-fixed-top">
  <div class="container" >
    <div class="navbar-header">
      <a class="navbar-brand" href="{{server_deliver_root}}/">Opinion Junction</a>
      <button class="navbar-toggle" type="button">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse oj-navbar-main">
      <ul class="nav navbar-nav">
	<li ><a href="{{server_deliver_root}}/">Home</a></li>
	{% for category in categories %}
	<li>
	  <a href="{{server_deliver_root}}/{{category.name}}">{{category.friendly_name}}</a>
	</li>
	{% endfor %}
	<!-- <li><a href="/about">About</a></li>--><!--Maybe e can bring About back later, have it in the footer instead -->
      </ul>

      <div><!-- <ng-include> -->
	{% if user.is_authenticated %}<ul id="navbar-right" class="nav navbar-nav navbar-right" ><li><a href="/user/settings" class="navbar-link" >Settings</a></li></ul>{% else %}
	<ul id="navbar-right-most-user" class="nav navbar-nav navbar-right"><li id="navbar-right-lastchild"><a class="navbar-link">Sign in</a></li></ul>
	{% endif %}<!-- </ng-include> -->
    </div> 
	

      <ul id="navbar-right" class="nav navbar-nav navbar-right">
	<li class="rightnavbar-preceder rightnavbar-preceder-facebook" id="headerFacebookCommunity">
	  <a class="navbar-link navbar-socialinvite-link" href="https://www.facebook.com/pages/Opinion-Junction/944455988901836" target="_blank">
	    <img class="navbar-socialinvite-icons navbar-socialinvite-icons-facebook"  src="/static/facebook.svg" style="-webkit-filter: invert(100%);filter: invert(100%)" alt="Our Facebook Page"/>
	  </a>
	</li>
	<li class="rightnavbar-preceder" id="headerTwitterCommunity">
	  <a class="navbar-link navbar-socialinvite-link-twitter navbar-socialinvite-link navbar-link" 
	     href="https://twitter.com/ojunction_com" target="_blank">
	    <img class="navbar-socialinvite-icons navbar-socialinvite-icons-twitter"  src="/static/twitter_alt.svg" style="-webkit-filter: invert(100%);filter: invert(100%)" alt="Our Twitter Handle"/>
	  </a>
	</li>
	<li class="rightnavbar-preceder rightnavbar-preceder-googleplus" id="headerGoogleplusCommunity">
	  <a class="navbar-link navbar-socialinvite-link navbar-socialinvite-link-gplus" href="https://www.facebook.com/pages/Opinion-Junction/944455988901836" 
	     target="_blank">
	    <img class="navbar-socialinvite-icons navbar-socialinvite-icons-googleplus"  src="/static/gplus-1.svg" style="-webkit-filter: invert(100%);filter: invert(100%)" alt="Our Google Plus Page"/>
	  </a>
	</li>
	<li class="rightnavbar-preceder"><a class="navbar-link" ><span class="glyphicon glyphicon-search"></span></a></li></ul>
      <!--<ul id="navbar-right" class="nav navbar-right ng-scope"><li><a href="/user/settings" class="navbar-link">Settings</a></li></ul>-->
    </div>
  </div>
</nav>

<div><!-- <ui-view> -->
{% block maincontent %}{% endblock %}
</div><!-- <ui-view> -->
{{category}}
</div>
</div>
</body>
</html>
  
