<!doctype html>
<html xmlns:ng="http://angularjs.org">
<head>
  {% include "includes/head.html" %}
  {% block headblock %}{% endblock %}
</head>
<body>
<div class="ng-app:testApp" id="ng-app" ng-app="testApp" xmlns:ng="http://angularjs.org">
<div ng-init="initFunction()" ng-controller="mainController">


<nav id="navbar-div" class="navbar navbar-inverse  navbar-fixed-top">
  <div class="container" >
    <div class="navbar-header">
      <a class="navbar-brand" href="{{server_deliver_root}}/">Opinion Junction</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse" ng-click="navbarCollapsed=!navbarCollapsed">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse oj-navbar-main" collapse="navbarCollapsed">
      <ul class="nav navbar-nav">
	<li  ng-class="linkDetailsMap.home != null? linkDetailsMap.home.className: ''"><a href="{{server_deliver_root}}/">Home</a></li>
	{% for category in categories %}
	<li ng-repeat="category in categories" ng-class="linkDetailsMap[category.name] !=null ? linkDetailsMap[category.name].className : ''"  }>
	  <a href="{{server_deliver_root}}/{{category.name}}" ng-class="linkDetailsMap[category.name] !=null ? linkDetailsMap[category.name].categoryLinkClassName : ''">{{category.friendly_name}}</a>
	</li>
	{% endfor %}
	<!-- <li><a href="/about">About</a></li>--><!--Maybe e can bring About back later, have it in the footer instead -->
      </ul>

      <ng-include src="rightNavBar">
	{% if user.is_authenticated %}<ul id="navbar-right" class="nav navbar-nav navbar-right" ><li ng-class="linkDetailsMap.settings != null? linkDetailsMap.settings.className: ''"><a href="/user/settings" class="navbar-link" >Settings</a></li></ul>{% else %}
	<ul id="navbar-right" class="nav navbar-nav navbar-right"><li id="navbar-right-lastchild"><a class="navbar-link" ng-click="signinModal()">Sign in</a></li></ul>
	{% endif %}
</ng-include> 
      <ul id="navbar-right" class="nav navbar-nav navbar-right"><li class="rightnavbar-preceder"><a class="navbar-link" ><span class="glyphicon glyphicon-search"></span></a></li></ul>
      <!--<ul id="navbar-right" class="nav navbar-right ng-scope"><li><a href="/user/settings" class="navbar-link">Settings</a></li></ul>-->
    </div>
  </div>
</nav>

<ui-view>
{% block maincontent %}{% endblock %}
</ui-view>
{{category}}
</div>
</div>
</body>
</html>
  
