<div class="col col-lg-8">
  <div id="submitSuccess" class="alert alert-success" ng-show="showSuccess">
    {{ successMessage }}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="hideSuccess()">&times;</button>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped" >
        <thead><tr><th>Name</th><th>Author</th><th>Category</th></tr></thead>
        <tbody><tr><td><input type="text" ng-model="searchTitle"></td>
    	<td><input type="text" ng-model="searchAuthorName"></td>
    	<td><input type="text" ng-model="searchCategory"></td>
          </tr>
        </tbody>
        <tbody>
          <tr ng-repeat="article in articles | filter:search"><td><a ng-href="/user/editarticle/{{article.id}}" >{{article.title}}</a></td> <td>{{article.author.author_name}}</td>
          <td>{{article.categories.toString()}}</td></tr>
          
        </tbody>
        
      </table>
    </div>
    <div class="panel-footer text-center">
      <span class="glyphicon glyphicon-step-backward pull-left"  ng-click="previousPage()"></span>Go back or forth<span class="glyphicon glyphicon-step-forward pull-right" ng-click="nextPage()"></span>
    </div>
  </div>
</div>
