<ui-include src="'/angularstatic/acentral/partials/carousel.html'" fragment="topBannerFragment"></ui-include>
<section class="container main-page-opinion-section">
  <div class="col-md-10 col-lg-9">
    <div class="main-page-articles-header">
      <h4 class="text-center">Latest Opinions</h4>
    </div>
  <article ng-repeat="article in articleInfos" class="col col-md-12 col-lg-12 main-page-article-section">
      <div class="col-md-2 col-lg-2">
	<a ng-href="/article/{{article.id}}/{{article.slug}}" class="thumbnail">
	  <img ng-src="{{article.thumbnail_image}}" alt="{{article.title}}">
	</a>
      </div>
      <div class="col-md-10 col-lg10">
	<div><small>{{get_category_friendly_name_string(article)}}</small></div>
	<div>
	  <h4 class="articlepreviewheadline"><a ng-href="/article/{{article.id}}/{{article.slug}}" class="articleheaderlink">{{article.title}}</a></h4>
	</div>
	<div class="main-page-article-excerpt-section">
	  <h4><p class="main-page-article-excerpt-section-p">{{article.excerpt}}</p></h4>
	</div>
	<div class="main-page-article-author-section">
	  <p class="main-page-article-author-text">
	          <!--[if lt IE 9]>{{article.author.first_name}} {{article.author.last_name}}<![endif]-->
		  <!--[if gte IE 9]>{{getAuthorName(article.author)}}<![endif]-->
		  <!--[if !IE]> -->{{getAuthorName(article.author)}}<!-- <![endif]-->
	  </p>
	</div>
      </div>      
   
  </article>
  </div>
  <div class="col-md-2 col-lg-3">
    <div class="main-page-comments-header">
      <h4 class="text-center">Latest Comments</h4>
    </div>
  <article ng-repeat="comment in latest_comments" class="comment-main-page">

    <div class="comment-author-image-container-mainpp">
      <img ng-src="{{getAuthorImage(comment.author)}}" class="comment-author-image img-circle" alt="{{comment.author.name}}'s profile image"/>
    </div>
    <div>
      <div>
	<h5 class="comment-text-main-page">
	  <a ng-href="/article/{{comment.discussion_id}}#comments-encompass-container-{{comment.id}}" class="articleheaderlink">{{comment.text}}</a>
	</h5>
      </div>
      <div>
	<p class="main-page-comment-author-text">{{comment.author.name}}</p>
      </div>
      <div class="clearfix"></div>
    </div>   
   
  </article>
  </div>

</section>
<ng-include  src="'/angularstatic/acentral/partials/footer.html'"></ng-include>
