<div class="assignauthorroles-encompass">
   <div id="submitError" class="alert alert-danger" ng-show="showError">
      {{ errorMessage }}
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="hideError()">&times;</button>
    </div>
    <div id="submitSuccess" class="alert alert-success" ng-show="showSuccess">
      {{ successMessage }}
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="hideSuccess()">&times;</button>
    </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
	<div class="form-group col-xs-3">
	  <input class="form-control " type="text" placeholder="Author Name" ng-model="searchAuthorName">
	</div>
	<div class="form-group col-xs-3">
    	  <input class="form-control " type="text" placeholder="First Name" ng-model="searchFirstName">
	</div>
	<div class="form-group col-xs-3">
    	  <input class="form-control " type="text" placeholder="Last Name" ng-model="searchLastName">
	</div>
	<div class="form-group col-xs-3">
	  <input class="form-control " type="text" placeholder="Role Name" ng-model="searchRoleName">
	</div>
    
      </div>
      <div class="form-group"><button type="button" class="btn btn-primary" ng-click="searchAuthors()">Search</button></div>


      <table class="table table-striped" ng-show="showTable">
        <thead><tr><th>Author Name</th><th>First Name</th><th>Last Name</th><th>Role</th></tr></thead>
        <tbody>
          <tr ng-repeat="author in displayed_authors | filter:search">
	    <td>{{author.author_name}}</td> 
	    <td>{{author.first_name}}</td>
            <td>{{author.last_name}}</td>
	    <td>
	      <div class="btn-group" dropdown >
	        <button type="button" class="btn btn-danger">{{author.user_role}}</button>
	        <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>
	          <span class="caret"></span>
	          <span class="sr-only">Split button!</span>
	        </button>
	        <ul class="dropdown-menu assignauthorroles-dropdown-menu" role="menu">
	          <li ng-repeat="role in roles"><a href="#" ng-click="setRole(author, role)">{{role}}</a></li>
	          <!-- 
		  <li class="divider"></li>
	          <li><a href="#">Separated link</a></li>
		  -->
	        </ul>
	      </div>
	    </td>
	  </tr>
          
        </tbody>
        
      </table>
      <div class="text-center pagination-center" ng-hide="showTable">
	<p>You have some unsaved changes, you will lose them if you continue. Are you sure?</p>
	<button class="btn btn-success" ng-click="continueNextPrevious()">Yes</button>
	<button class="btn btn-danger" ng-click="returnBack()">No</button>
      </div>
      <div class="form-group"><button type="button" class="btn btn-primary" ng-click="submitAuthorChanges()">Submit</button></div>
    </div>

<!-- need to fix this below and use it in place of of step-backward and step-forward glyphicons -->
<!--<div class="panel-footer text-center">
<ul class="pager">
  <li class="previous"><a ng-click="previousPage()">&larr; Older</a></li>
  <li class="next"><a ng-click="nextPage()">Newer &rarr;</a></li>
</ul>
</div>
-->
    <div class="panel-footer text-center">
      <span class="glyphicon glyphicon-step-backward pull-left"  ng-click="previousPage()"></span>Go back or forth<span class="glyphicon glyphicon-step-forward pull-right" ng-click="nextPage()"></span>
    </div>
  </div>

</div>
