  <div id="carousel" class="carousel" ><!-- <carousel> -->
    <ol class="carousel-indicators">
      {% for article in articles %}
      <li data-target="#slide-{{ forloop.counter0 }}" data-slide-to="{{forloop.counter0}}" {% if forloop.counter0 == 0 %} class="active" {% endif %}></li>
      {% endfor %}
    </ol>
    {% for article in articles %}
    <div class="carousel-inner" {% if forloop.counter0 != 0 %} style="display:none" {% endif %} id="slide-{{ forloop.counter0 }}"><!-- <slide> -->
      <div {% if forloop.counter0 == 0 %} class="item active" {% else %} class="item" {% endif %}>
	<!-- <img src="{{article.header_image}}" style="margin:auto;"> -->
	<div class="carousel-article-header-image" style="margin:auto;background-image:url({{article.header_image}})"></div>
	<div class="carousel-caption">
          <a href="{{server_deliver_root}}/article/{{article.id}}/{{article.slug}}" class="carousel-article-link"><h2>{{article.title}}</h2></a>
          <h5>{{article.headerCategory.friendly_name}}</h5>
          <h6>{{article.author.first_name}} {{article.author.last_name}}</h6>
	</div>
      </div>
    </div><!-- </slide> -->
    {% endfor %}
  </div><!-- </carousel -->
