<div class="main-footer">
  <div class="container">
    <div style="clear:right" class="footer-site-details">
      <div class="col-xs-6 col-md-3"><a href="{{server_deliver_root}}/aboutus">About Us</a></div>
      <div class="col-xs-6 col-md-3"><a href="{{server_deliver_root}}/aboutus">Contact Us</a></div>
      <div class="col-xs-0 col-md-2"></div>
      <div class="col-xs-12 col-md-4 footer-newsletter">

        <!--<p>: &nbsp;&nbsp;&nbsp;    -->
          <div class="input-group input-group-xs" >
            <input name="email" class="form-control" placeholder="Enter Email Address to subscribe to our newsletter" type="email">
            <div class="input-group-btn">
              <button class="btn  btn-info"><span class="glyphicon glyphicon-play"></span></button>
            </div>
          </div>
        <!-- </p> -->
      </div>
    </div>
    <div class="text-center font-white footer-copyright"> © Opinion Junction </div>
  </div>
</div>

