@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

.categoryHeaderImage, .carousel-inner > .item > a > img, .carousel-inner > .item > img, .carousel-article-header-image {
  /*position: absolute;*/
  top: 0;
  left: 0;
  min-width: 100%;
  /*height: 600px;*/
  max-width: none;
  /*max-height: 600px;*/
}

/* @media (min-width: 768px) {
    .categoryHeaderImage, .carousel-inner > .item > a > img, .carousel-inner > .item > img {
	height:350px;
	max-height:350px;
    }
}

@media (min-width: 992px) {
    .categoryHeaderImage, .carousel-inner > .item > a > img, .carousel-inner > .item > img {
	height:400px;
	max-height:400px;
    }
}


@media (min-width: 1200px) {
    .categoryHeaderImage, .carousel-inner > .item > a > img, .carousel-inner > .item > img {
	height:500px;
	max-height:500px;
    }
}
*/

.carousel-article-header-image {
    background-size:100% 100%;
    /* height: 31.25vw; */
}

@media (min-width: 768px) {
    .categoryHeaderImage, .carousel-inner > .item > a > img, .carousel-inner > .item > img, .carousel-article-header-image {
	height: 31.25vw;
	min-height:240px;
    }
}


@media (min-width: 1280px) {
    .categoryHeaderImage, .carousel-inner > .item > a > img, .carousel-inner > .item > img, .carousel-article-header-image {
	height:400px !important;
	max-height:480px;
    }
}

@media (min-width: 1500px) {
    .categoryHeaderImage, .carousel-inner > .item > a > img, .carousel-inner > .item > img, .carousel-article-header-image {
	height:600px !important;
	max-height:600px;
    }
}


.headerCategoryImage {

}



.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*#navbar-div {
  width:100%;
  height:10px;
}
*/

/*#navbar-right {
  margin-top:5px;
  margin-right:5px; 
}
*/

#navbar-right-lastchild {
 /* margin-top:5px;*/
  margin-right:5px; 
}

#articlesidebar {
    width:5%;
    min-width:250px;
}

@media (min-width:1500px){
    .container{
	width:1440px
	}
}

body { padding-top: 50px; }
@media screen and (max-width: 768px) {
    body { padding-top: 50px; }
}

.articleheaderlink {
    color: #000000;
}

.thumbnail {
    border: 0 none !important;
    box-shadow: none !important;
}

.articlepreviewheadline {
    font-size:24px;
}

.articlepreviewheadline small {
    font-size: 65%;
}

.article-page-tags-div {
    margin-top:20px;
    margin-left:70px;
}

.article-page-tag-a {
    margin-left:12px;
    margin-bottom:20px;
}

.article-page-tags-text {
    //margin-left:10px;
    margin-right:8px;
}

.article-other-articles-article-section {
    padding-top:18px;
}

.article-other-articles-header {
    padding-top:10px;
}

.user-container {

    padding-top:20px;
}

.block-dropdown {

    display:block;
}

.display-inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.gravatar-warning {
    display:block;
    margin-bottom:5px;
}

/*
.comment-author-name-text {
    display: inline-block;
    margin-bottom:0px;
}
*/

#mce_61 iframe { /* tinymce edit */
    min-height:503px;
}

.mce-content-body { /* tinymce edit */
    min-height:503px;
}

@media (max-width : 1023px) {
    .rightnavbar-preceder {
	display: none !important;
    }
}


.rightnavbar-preceder {
    padding-right: 5px;
}



.navbar-category-link-focussed {
    color: #FFF !important;
}

.signin-form-group {
    margin-top:25px;    
}

.social-login-button {
    width:100%;
}

.modal-dialog {
    max-width:500px;
}

@media (max-width : 531px) {
    .modal-dialog {
	max-width: 95%;
    }
}

.signin-modal-body {
    padding-left:30px;
    padding-right: 30px;
}

.search-modal {
    /*position: absolute;
    z-index: 100;
    left: 40%;    
    top:40%;*/
    padding:15px;
}




.search-modal-window .modal-content {
    background-color: transparent;
}
  
.search-modal-top-taskbar {
    width:100%; 
    min-height:30px;
}
    
.search-modal-top-taskbar-close-button {
    position:relative;
    right:0%; 
    float:right;
    filter: invert(100%);
}

.search-modal-input-group {
    /*margin-left:20px;  
    margin-right:20px;
    margin-bottom:20px;*/
    padding-bottom:5px;
}

.search-modal-input-group-search-page {
    /*margin-left:20px;  
    margin-right:20px;
    margin-bottom:20px;*/
    padding-bottom:0px;
    padding-top:20px;
    padding-left: 0px;
    padding-right: 0px;
}



.main-page-article-author-section {
    border-bottom:1px solid #E0E0E0;
}
.main-page-article-author-text {
    font-weight: 500;
    font-size: 85%;
}

.main-page-article-section {
    margin-top: 25px;
}

.main-page-article-excerpt-section-p {
    line-height:135%;
    font-family: helvetica;
    font-size: 14px;
    color: #999;
    font-weight: 500;
}

.tag-articles-header {
    width:100%;
    border-bottom:1px solid #A0A0A0;
}



.main-page-articles-div, .main-page-comments-div {
    padding-top: 15px;
}

.main-page-comments-header, .main-page-articles-header {
    width: 100%;
    border-top:1px solid #BBB;
    border-bottom:1px solid #BBB;
    font-family: "Bitter";
}

.article-comments-header {
    width:100%;
    border-bottom:1px solid #A0A0A0;
    border-top:1px solid #A0A0A0;
    margin-top:20px;
    margin-bottom:10px;
}

.main-page-comment-author-text {
    font-size: 85%;
}

.article-author-bio-section {
    width:100%;
    border-top:1px solid #E0E0E0;
    min-height:100px; 
    margin-top:40px;
    padding-top:30px;
    padding-left:30px;
    margin-bottom:30px;
}

.author-activity-image-container {
    float:left;
    width:80px;
}

.author-activity-image {
    width:80px;
    max-height:128px;
}

.author-activity-id-heading {
    margin-bottom:15px;
}

.author-activity-bio-text-container {
    margin-left:80px;
    padding-bottom:20px;
}

.public-profile-main-area {
    padding-top:20px;
}
.author-activity-bio-text-section {
    min-height:80px;
    margin-left: 10px !important;
}
.article-author-bio-text-section, .author-activity-bio-text-section {
    /*line-height: 150%; */
    margin-left: 10px;
    max-width:960px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    display: block;
    padding: 9.5px;
    /*margin: 0px 0px 10px;*/
    font-size: 13px;
    line-height: 1.42857;
    /*word-break: break-all;*/
    word-wrap: break-word;
    color: #333;
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.article-content-section {
    line-height: 160%;
    font-size: 15px;
    padding-top:18px
}

.article-content-section iframe[allowfullscreen="allowfullscreen"] { 
    /*Bad Hack but tinyMCE is stubborn ! :( */
    height: 385px;
    width: 680px;
}

.article-content-section h3,article-content-section h4 {
    margin-top:20px;
    margin-bottom:30px;
}

.usersidebar {
    width:250px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    display:table-cell;
    vertical-align: top;
}

.createarticle-rightsidebar {
    /*float: none;
    overflow: hidden;
    padding-right:10px; 
    /*http://stackoverflow.com/questions/1260122/expand-div-to-take-remaining-width*/
    /*vertical-align: top;
    display:table-cell;*/
    margin-left:10px;
    margin-right:10px;
    width: 300px;
    float:right;/*http://stackoverflow.com/questions/18277732/make-left-div-take-up-remaining-width-without-swapping-elements?rq=1*/
}

.createarticle-encompass {
    float: none;
    overflow: hidden;
    /*http://stackoverflow.com/questions/1260122/expand-div-to-take-remaining-width*/
    /*display:table-cell;
    vertical-align: top;*/
}

.createarticle-maindiv {
    float: none;
    overflow: hidden;
    /*display:table-cell;
    vertical-align: top;*/
}

.profile-encompass, .articleslist-encompass, .usersettings-encompass, .aboutus-encompass, .assignauthorroles-encompass, .createauthorroles-encompass {
    float: none;
    overflow: hidden;
    max-width: 1400px;
    margin-right:10px
}

.aboutusauthorslist-encompass {
    height: 256px;
    overflow-y: scroll;
}

.aboutusteamauthors-column-main {
    margin-left: 30px;
}

.aboutusteamauthors-column-checkbox {
    float: left;
    width:0px;
}

@media (height : 768px) {
    .aboutusauthorslist-encompass {
	height: 384px;
    }
}

@media (height : 1024px) {
    .aboutusauthorslist-encompass {
	height: 512px;
    }
}

@media (height : 1440px) {
    .aboutusauthorslist-encompass {
	height: 720px;
    }
}

.aboutusauthorslist-button-group {
    padding-top:10px;
    /* padding-bottom:5px; */
}

.aboutusauthorslist-submiterror-div {
    margin-top:5px;
}

.aboutusteamauthors-img {
    max-width: 160px;
    max-height: 212px;
}

.aboutusteamauthors-row {
    padding-top:10px
}

.aboutusteamauthors-row-details {
    padding-top:5px;
    padding-bottom:5px;
}

.articleslist-encompass {
    max-width: 2000px !important;
}

.usersettings-privacy-section {
    /*padding-top:20px*/
}

.usersettings-expand-link {
    text-decoration: underline;
}

.usersettings-expand-form-group {
    height: auto;
    margin-top: 20px;

}

.usersettings-form-group {
    margin-bottom: 30px;
}

.article-content-section img {
    max-width:100%;
}

.main-footer {
    background-color:black;    
    margin-top:20px;
}

.main-footer a {
    color: #CCCCCC;
}

.main-footer a:hover {
    color: #5BC0DE;
    text-decoration: none;
}
  
.font-white {
    color:white;  
}
    
.footer-copyright {
   color:#CCCCCC;   
   border-top: 1px solid #CCCCCC;
   font-size:17px;
   padding-top:8px;
   padding-bottom:8px;
   float:left;
   width:100%
      
}
  
.main-footer {
   color:#CCCCCC;  
   font-size:14px;
}

.footer-site-details {
   padding-top:5px;
   padding-bottom:15px;
   width:100%;
   margin-bottom: 10px;
   margin-top: 5px;
   letter-spacing: 1px;
  
}
  
.newsletter-input {
   margin-right: 0px;
   height:23px;
   /*border-top-right-radius: 0px; 
   border-bottom-right-radius: 0px;*/   
}
    
.newsletter-button {
    margin-left: -5px;
    border-radius: 0px 0px 0px 0px;
    margin-top: -2px;
    height:23px;
}

.footer-newsletter {
    text-align: center;
}




@media (max-width: 480px){
    .input-group-footer-newsletter {
	margin-bottom: 4px;
	
    }
    .col-xs-0 {
	width: 0px;
    }
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.sharing-icon {
    height: 50px;
    width: 50px;
    background-image: url('/static/sprites.png');
    background-repeat: no-repeat;
}

.sharing-icon-facebook {

    background-position: 0px -205px;
}

.sharing-icon-twitter {

    background-position: 0px -263px;
}

.sharing-icon-googleplus {
    background: none;
    background-position: 0px -195px;
    padding-left:9px !important;
}

.sharing-icon-pinterest {

    background-position: 0px -324px;
}

.sharing-icon-googleplus-img {
    border:0;
    width:32px;
    height:32px;
}

.carousel-article-link {
    color : #FFFFFF;
}

.carousel-article-link h2 {
    text-shadow: 2px 1px 2px #3F3F3F !important;
    font-family: "Bitter",serif;
}

.carousel-article-link:hover {
    color : #FFE4C4;
}

div[data-label="image-container"] {
    font-size: 11px;
    font-style: italic;
    position: relative;
    margin-bottom:30px
}

div[data-caption-label] {
    position:absolute;
    left:0px;
}

div[data-attribution-label] {
    position:absolute;
    right: 0px;
}

#article-main-area {
    margin-left:70px;
}

@media (max-width: 560px) {
    #article-main-area {
	margin-left:5px !important;
    }

}

#article-main-area h1 {
    font-family: "Bitter", serif;
}

#floating-socialbar {
    float:left;
    margin-top:50px;
    width:60px;
}

@media (max-width: 560px) {
    #floating-socialbar {
	width:0px;
	display:none;
    }

}

.create-roles-add-permission-form-control {
    padding-bottom:25px;
}

.create-roles-add-permission-form-fieldset-first {
    padding-bottom: 25px;
}

[ng-click],
[data-ng-click],
[x-ng-click] { /*http://stackoverflow.com/questions/18896859/change-the-mouse-pointer-on-ngclick*/
    cursor: pointer;
}

.editarticlemetadata-form-group {
    margin-bottom:15px;
}

.editarticlemetadata-author-form-group {
    margin-top: 20px;
}

.editarticlemetadata-field-container {
    margin-top:10px;
    margin-bottom:20px;
    max-width:600px;
}

.navbar-socialinvite-link {
    padding-bottom:13px !important;
}

.navbar-socialinvite-link-twitter {
    padding-bottom:10px !important;
}

.navbar-socialinvite-link-gplus {
    padding-top: 18px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.navbar-socialinvite-icons {
    width:25px;
    height:17px;
    fill:#ffffff;
}

.navbar-socialinvite-icons-facebook:hover {
    fill:#3C549D;
}

.navbar-socialinvite-icons-twitter {
    height:20px;
}

.navbar-socialinvite-icons-googleplus {
    width: 40px !important;
}

.navbar-socialinvite-icons-googleplus:hover {
    fill:#DA5646;
}

.navbar-socialinvite-icons-twitter:hover {
    fill:#61A8DD;
}

.rightnavbar-preceder-facebook {
    width:45px;
}

.rightnavbar-social-div {
    padding-top:15px;
}

.rightnavbar-preceder-twitter-follow {
    /*width:60px !important;*/
}

.rightnavbar-social-div {
    padding-left:5px;
}
.navbar-text-likeus {
    color:#CFCFCF !important;
    margin-right:5px;
}

.navbar-collapse {
    max-height:450px !important;
}

@media (max-width : 1023px) {
    .navbar-collapsed-search {
        display: block !important;
    }
}

@media (max-width : 1023px) {
    .navbar-toggle-oj {
	margin-left: 5px;
    }
}


.navbar-collapsed-search {

    
    height: 50px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px; 
    display: none ;
}

.collapsing-width {
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.article-published-date-small {
    margin-left:10px;
}

.tag-articles-header {
    padding-top:15px
}

.aboutusview-sectionul {
    list-style: none;
    padding: 0px;
    position: absolute;
    background-color: #F0F8FF;
    width: 100%;
}

.aboutusview-sectionul li.first {
}

.aboutusview-sectionul li.active {
    font-weight: 700;
}

.aboutusview-sectionul li.inactive {
    display:none;
}

.aboutusview-sectionul li.inactive-visible {
    display:block;
}


.second-navbar {
    top: 50px;
    border: 1px solid #E7E7E7;
    font-family: lato;
    z-index: 2;
    background-color: #FCFCFC;

}
.aboutusview-section-selector{
 /*border: 1px solid #E0E0E0; */
 text-align: center;
 background-color: #F0F8FF;
 padding-left: 0px;
}
  
.aboutusview-section-selector-link {
  margin-left: auto !important;
  text-align: center;  
  width: 100%;
}

.aboutusview-main-section {
    margin-top:70px;
}

.aboutusview-aboutus-heading-div  {
    margin-bottom: 15px;
}

.aboutusview-second-navbar-container {
    padding-right: 0px;
    padding-left: 0px;
}

.aboutusview-second-navbar-dropdown-box {

}

.aboutusview-aboutustext-section, .aboutusview-ourteam-section, .aboutusview-contactustext-section {
    min-height: 400px;
    clear: both;
}

.aboutusview-contactustext-section {
    padding-top: 20px;
}

.aboutusview-ourteam-authorimageuldiv {
    padding-top: 20px;
}

.aboutusview-ourteam-authorimageul {
    list-style-type: none;
    width: 100%;
    padding: 0px;
    font-size: 0px; 
    clear: right;
/*
  http://stackoverflow.com/questions/14958606/css-html-horizonal-list-remove-this-mystery-gap-between-list-items-see-pic
*/
}

.aboutusview-ourteam-authorimageli {
    width: 50%;
    float: left;
    display:inline-block;
}

@media (min-width: 480px) {
    .aboutusview-ourteam-authorimageli {
	width: 33.3%;
    }
}

@media (min-width: 720px) {
    .aboutusview-ourteam-authorimageli {
	width: 25%;
    }
}

@media (min-width: 960px) {
    .aboutusview-ourteam-authorimageli {
	width: 20%;
	float: left;
    }
}


.aboutusview-ourteam-authorimagediv {
    width: 100%;
    position:relative;
    height:100%;
    display:inline-block;
}

.aboutusview-ourteam-authorimageimagedummy {
    margin-top: 100%;
}

.aboutusview-ourteam-authorimage {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.aboutusview-ourteam-authorimage:hover {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.aboutusview-ourteam-authorrolediv {
    z-index: -1;
/*    
    background-color: #F8F8F8;
    color: #C0C0C0;
*/
    background-color: #4488FF;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    float: none;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 16px;


}

.aboutusview-ourteam-authorrolerolediv {
    margin-top:40%;
    font-weight: 700;
}

.aboutusview-contactus-heading-div {
    margin-bottom:30px;
}

.aboutusview-contactus-email-link {
    color: #000000;
}

/* .aboutusview-ourteam-authorrolediv:hover {
    z-index: 1;
}
*/

.aboutusview-contactus-member-encompass {
    margin-bottom: 20px;
}

.aboutuso-aboutus-message-form-group {
    margin-top: 20px;
    clear: both;
    padding-bottom: 25px;
}

.aboutuso-removeselected-button, .aboutuso-addmore-button {
    margin-right: 5px;
}

.aboutuso-contactus-row-header-div {
    
}

.aboutuso-contactus-header-input {
    margin-left: 25px;
}
.aboutuso-contactus-row-checkbox {
    float:left;
    width: 0px;
}

.createauthorroles-form-group {
    padding-top:30px;
}

.createauthorroles-role-div {
    padding: 20px;
}

.createauthorroles-existingrole-div-odd {
    background-color: pink;
}

.createauthorroles-existingrole-div-even {
    background-color: #EE99AA;
}

.createauthorroles-span-enter-rolename {
    color: red;
}

.createauthorroles-newrole-div-even {
    background-color: #BBBBAF;
}
.createauthorroles-newrole-div-odd {
    background-color: #DDDDB0;
}

.createauthorroles-role-toggle-and-heading {
    font-size:16px;
    padding-bottom:10px;
    margin-left:-10px;
}

.createauthorroles-role-incorrect-permission-div {
    min-height: 20px;
    padding: 0px;
    font-size: 14px;
}

.createauthorroles-new-role-remove-button {
    color : red;
}

.assignauthorroles-dropdown-menu{
    overflow-y: auto;
}

@media (min-width: 768px) {
    .assignauthorroles-encompass {
	padding-bottom: 600px;
    }
    .assignauthorroles-dropdown-menu{
	max-height: 300px;
    }
}

@media (min-width: 1024px) {
    .assignauthorroles-encompass {
	padding-bottom: 700px;
    }
    .assignauthorroles-dropdown-menu{
	max-height: 400px;
    }
}

@media (min-width: 1440px) {
    .assignauthorroles-encompass {
	padding-bottom: 880px;
    }
    .assignauthorroles-dropdown-menu{
	max-height: 556px;
    }
}

.has-error select {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.articleheaderlink {
    font-family: 'Bitter', serif;
    font-weight:400;
}

