.carousel img {
  /*position: absolute;*/
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
  max-width: none;
  max-height: 600px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*#navbar-div {
  width:100%;
  height:10px;
}
*/

/*#navbar-right {
  margin-top:5px;
  margin-right:5px; 
}
*/

#navbar-right-lastchild {
 /* margin-top:5px;*/
  margin-right:5px; 
}

#articlesidebar {
    width:5%;
    min-width:250px;
}

@media (min-width:1500px){
    .container{
	width:1440px
	}
}

body { padding-top: 50px; }
@media screen and (max-width: 768px) {
    body { padding-top: 50px; }
}

.articleheaderlink {
    color: #000000;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.articlepreviewheadline {
    font-size:24px;
}

.articlepreviewheadline small {
    font-size: 65%;
}

.user-container {

    padding-top:20px;
}

.block-dropdown {

    display:block;
}

.display-inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.gravatar-warning {
    display:block;
    margin-bottom:5px;
}

/*
.comment-author-name-text {
    display: inline-block;
    margin-bottom:0px;
}
*/