{% extends "blocks/sitespecificinfo.html" %}
{% block mainfunctionalblock %}
  <!-- BEGIN MAIN -->
  <div id="featured-story-main" class="main">
    <div class="headlines" id="featured-story-headlines">
      <div id="featured-story-main-headline">
        <h2 class="heading">How to contact News Of The World</h2>
        <p style="padding-top:9px">This page provides the contact information for the people and departments at News of The World</p>
        
        <div class="contactdetailsdiv"> <h4 class="contactdetailsheading">For any general enquiry</h4>
        <p>You can contact News of The World for any general enquiry at <a href="mailto:contact@newsoftheworld.co">contact@newsoftheworld.co</a></p></div>
        <div class="contactdetailsdiv"> <h4 class="contactdetailsheading">Editorial Team</h4>
        <p>You can contact editorial team of News of The World at <a href="mailto:editor@newsoftheworld.co">editor@newsoftheworld.co</a></p></div>
        <div class="contactdetailsdiv"> <h4 class="contactdetailsheading">Submit a Story</h4>
        <p>If you wish to send us a story, or want us to contact you about it, send a mail to us at <a href="mailto:scoop@newsoftheworld.co">scoop@newsoftheworld.co</a></p></div>
        <div class="contactdetailsdiv"> <h4 class="contactdetailsheading">Advertise with us</h4>
        <p>To advertise on News of The World, contact our advertising department at <a href="mailto:advertise@newsoftheworld.co">advertise@newsoftheworld.co</a></p></div>
        <div class="contactdetailsdiv"> <h4 class="contactdetailsheading">Other corporate enquiries</h4>
        <p>For any other corporate enquiries related to News Of The World or our parent company, 
        <br>Fearless Voice Media, contact us at <a href="mailto:contact@fearlessvoicemedia.com">contact@fearlessvoicemedia.com</a></p></div> 
        <img class="hidden" src="{{ STATIC_URL }}blank.jpg" alt="" />
        <h2 class="heading hidden">Media</h2>
        <object width="400" height="300" class="hidden">
          <param name="movie" value="http://www.youtube.com/v/B0jhJA1Hjxk&amp;hl=en_US&amp;fs=1&" />
          <param name="allowFullScreen" value="true" />
          <param name="allowscriptaccess" value="never" />
          <embed src="http://www.youtube.com/v/B0jhJA1Hjxk&amp;hl=en_US&fs=1&amp;" type="application/x-shockwave-flash" allowscriptaccess="never" allowfullscreen="true" width="400" height="300"></embed>
        </object>
        <h2 class="hidden"><a href="#">Controversy surrounding the 10 billion dollar Temple of Axl Rose</a></h2>
        <p class="author hidden"><span>09.18.19</span></p>
        <p class="hidden"><a href="#">More video &raquo;</a></p>
      </div>
      <div id="featured-story-more-headlines">
        <h2 class="heading">Trending around the Globe</h2>
        <h4><a href="#">Monaco declares war on Russia</a></h2>
        <p class="author">CNN | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden" >Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"><a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">I am a sinner and made the biggest mistake of my life questioning the actions of the true God Axl - Slash</a></h3>
        <p class="author">Slash.com | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">Guerilla Machines buys Apple</a></h3>
        <p class="author">Guerilla-Machines.com | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">Google files for Bankruptcy Protection</a></h3>
        <p class="author">Google.co.uk | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h2 class="heading">News from India</h2>
        <h4 ><a href="#">Libertarian Party Sweeps Legislative Polls in Andaman and Nicobar</a></h3>
        <p class="author">CNN | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">Canada is renamed People's Democratic Republic of Punjab</a></h3>
        <p class="author">Punjab.pb | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden"> Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"><a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">China becomes the 31st province of Republic of Punjab</a></h3>
        <p class="author">Punjab.cn | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h4 class="headlinesbordertop"><a href="#">India will be the world's largest Ecnonomy by 2050 - SBI</a></h3>
        <p class="author">SBI.in | <span>09.18.09</span></p>
        <p class="moreheadlinesdescriptionhidden">Ut sed arcu nulla. In eget lectus vitae purus volutpat consectetur suscipit ut justo.</p>
        <p class="moreheadlinesarticlelinkhidden"> <a href="#">Full article &raquo;</a></p>
        <h2 class="heading">Podcast</h2>
        <img src="{{ STATIC_URL }}microphone.png" alt="" class="righty" />
        <h4><a href="#">Discussion with presidents of Libertarian and Pirate Party</a></h4>
        <p class="author"><span>09.18.09</span></p>
        <p>Listen to our discussion with these leaders as they debate the way forward for rise of India as a world economic power.</p>
        <p><a href="#">More podcasts &raquo;</a></p>
      </div>
    </div>
  </div>
  <!-- END MAIN -->
{% endblock %}

