  <div id="featured-story-sidebars" class="sidebars">
      {% if latest_stories and latest_stories|length > 0 %} 
 <h2 class="heading">Past Stories</h2>
      <ul>
      {% for latest_story in latest_stories %}
      {% if forloop.last %}
      <li class="last"><a href="{% url "featuredstorynamebackslash" latest_story.urlString %}">{{ latest_story.name }}</a></li>
      {% else %}
      <li><a href="{% url "featuredstorynamebackslash" latest_story.urlString %}">{{ latest_story.name }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
      {% endif %}
    <!-- BEGIN ADS -->
    <!--<div class="border-top border-bottom adsdiv">
    <a href="#" class="hidden"><img src="{{ STATIC_URL }}side-ad.png" alt="" class="ad"></a> <a class="hidden" href="#"><img src="{{ STATIC_URL }}side-ad.png" alt="" class="ad-right"></a> <a class="" href="#"><img src="{{ STATIC_URL }}side-ad.png" alt="" class="ad border-top"></a> <a class="" href="#"><img src="{{ STATIC_URL }}side-ad.png" alt="" class="ad-right"></a>
    </div> -->
    <!-- END ADS -->
    {% if most_read_stories and most_read_stories|length > 0 %}
    <h2 class="heading-blue">Most Read</h2>
    <ul>
    {% for most_read_story in most_read_stories %}
       {% if forloop.last %}
       <li><a class="last" href="{% url "featuredstorynamebackslash" most_read_story.story_id.urlString %}">{{ most_read_story.story_id.name }}</a></li>
       {% else %}
      <li><a href="{% url "featuredstorynamebackslash" most_read_story.story_id.urlString %}">{{ most_read_story.story_id.name }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
  </div>
